.home-header {
    text-align: center;
  }
  
  .home-header h2 {
    color: #3997f5;
    font-size: 2rem;
  }
  
  .home-header h1 {
    font-size: 3rem;
    color: #0f52ba;
    margin-bottom: 1rem;
  }
  
  .home-header h1 span {
    color: #3997f5;;
  }
  
  .home-header p {
    color:#094e94;
    font-weight: 450;
    font-size: 1.1rem;
  }

  /* .home-header h6 {
    color: #3997f5;
    font-weight: 800;
    font-size: 2rem;
  } */